# Android Studio / IntelliJ
.idea/
*.iml
local.properties

# Gradle
.gradle/
build/
gradle-app.setting

# Compiled / Build files
*.apk
*.ap_
*.dex
*.class
captures/
output.json

# Logs and caches
*.log
.DS_Store
Thumbs.db

# Misc
*.swp
*.tmp
temp/